

<!-- <h2>Search</h2>
<input type="text" placeholder="search restaurants" ng-model="search"> -->
<br><br>
<input type="text" ng-model="restaurant.address" placeholder="address" id="coo">
<input type="text" ng-model="restaurant.category" placeholder="category">
<input type="text" ng-model="restaurant.price" placeholder="price">
<button ng-click="createRestaurant(restaurant)">Check Success Rating</button>

<!-- 	<div ng-repeat="restaurant in restaurants | filter:search">
		<p>{{restaurant.address}}<br>
			{{restaurant.category}}<br>
			{{restaurant.price}}<br>
			{{restaurant.id}}<br>
			<button ng-click="showRestaurant(restaurant.id)">SHOW</button>
		</p>
	</div> -->

	<br><br>
	{{restaurants[restaurants.length-1].address}}
	<br>
	{{restaurants[restaurants.length-1].category}}
	<br>
	{{restaurants[restaurants.length-1].price}}
	<br>
	{{restaurants[restaurants.length-1].id}}<br><br>


<style>
      #map-canvas {
        width: 100%;
        height: 400px;
        margin: 0px;
        padding: 0px
      }
    </style>

 <script>


function initialize() {
  var mapOptions = {
    zoom: 17,
    center: new google.maps.LatLng(34.012982, -118.495186)
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  geocoder = new google.maps.Geocoder();

  google.maps.event.addListener(map, 'click', function(event) {
   placeMarker(event.latLng);

});

function placeMarker(location) {
    var marker = new google.maps.Marker({
        position: location, 
        map: map
    });
    console.log(marker);
};
}

function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?v=3&' +
      'callback=initialize';
  document.body.appendChild(script);
}


window.onload = loadScript;


    </script>

<div id="map-canvas"></div>

